.App-game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.score-board {
  margin-left: 30px;
  width: 400px;
  min-height: 560px;
  background: #121c24;
  display: flex;
  flex-direction: column;
}

.score-board--title {
  align-self: center;
}

.score-board--timer {
  align-self: center;
}

.score-board--record_correct_logo {
  display: block;
}

.score-board--record_correct_square {
  color: green;
}

.App-score {
  font-size: 3rem;
  text-align: center;
}

.score-board--record {
  min-height: 43vh;
  display: flex;
  flex-wrap: wrap;
}

.score-board--record_wrong_logo {
  display: block;
}
.score-board--record_wrong_square {
  color: red
}

.score-board--record-data {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  width: 30px;
}